<div id='diver-<%= diver.id %>-goals'>
  <p class="huge">1M Goals: <%= diver.goals.one_meter.map(&:number).join(', ') %></p>
  <p class="huge">3M Goals: <%= diver.goals.three_meter.map(&:number).join(', ') %></p>
  <p class="huge">Platform Goals: <%= diver.goals.platform.map(&:number).join(', ') %></p>

  <%= render '/goals/form', remote: true, diver_id: diver.id %>
</div>
