<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header"><%= @diver.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="pull-right">
      <%= link_to('Add a List', new_diver_list_path(@diver), class: 'btn btn-primary') %>
    </div>
  </div>
</div>

<div class="row">
  <% @diver.lists.each do |list| %>
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-list fa-fw"></i> <%= list.name %>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th>Dive</th>
                  <th>Height</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <% list.dives.each do |dive| %>
                <tr>
                  <td><%= dive.number %></td>
                  <td><%= dive.height %>M</td>
                  <td><%= dive.description %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
