<%= form_for([@fundamental, @skill]) do |f| %>
  <% if @skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
      <% @skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
  </div>
  <%= label_tag 'Drill Progressions' %>
  <div class="form-group">
    <% 10.times do |i| %>
      Level <%= i + 1 %>: <%= text_field_tag "skill[drills_attributes][][name]", nil, placeholder: 'Drill' %>
    <%= hidden_field_tag "skill[drills_attributes][][progression]", i + 1 %>
    <br>
  <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
