<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr style='white-space: nowrap;'>
      <th>Diver</th>
      <% @practices.each do |practice| %>
        <th>
          <%= practice.date.strftime('%a %m/%d') %>
          <%= link_to team_practice_path(@team, practice), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @divers.each do |diver| %>
      <tr>
        <td><%= diver.name %></td>
        <% @practices.each do |practice| %>
          <td>
            <% diver_practice = diver.diver_practices.find { |dp| dp.practice == practice } %>
            <% if diver_practice.present? %>
              <div id="toggle-practice-attendance-<%= diver_practice.id %>">
                <%= render partial: 'diver_practices/toggle_attendance_link', locals: { diver: diver, diver_practice: diver_practice } %>
              </div>
            <% else %>
              N/A
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
