<div class="row">
  <div class="col-xs-12 text-right">
    <%= link_to('Record Attendance', team_attendance_path(team), class: 'btn btn-primary', style: 'margin-top: 10px;') %>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 10px; margin-right: 15px;">
        <i class="fa fa-cogs"></i><span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" style="margin-right: 15px;">
        <li>
          <%= link_to edit_team_path(team), remote: true do %>
            Edit Team Name
          <% end %>
        <li>
          <%= link_to team_path(team), method: :delete, data: { confirm: 'Are you sure?' } do %>
            Delete Team
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2" id="team-form" style="display:none;"></div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-4">
      <div class="panel panel-primary dashboard-panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-users fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <% coach_count = team.coaches.count %>
              <div class="huge" id="coaches-count"><%= coach_count %></div>
              <div><%= 'Coach'.pluralize(coach_count) %></div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel-footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-green dashboard-panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-anchor fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <% diver_count = team.divers.count %>
              <div class="huge" id="divers-count"><%= diver_count %></div>
              <div><%= 'Diver'.pluralize(diver_count) %></div>
            </div>
          </div>
        </div>
        <a href="<%= divers_path(team_id: team.id) %>">
          <div class="panel-footer">
            <span class="pull-left">View Divers</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-info dashboard-panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-trophy fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <% practice_count = team.practices.where("date <= ?", Date.today).count %>
              <div class="huge" id="practices-count"><%= practice_count %></div>
              <div><%= 'Practice'.pluralize(practice_count) %></div>
            </div>
          </div>
        </div>
        <a href="<%= team_attendance_report_path(team) %>">
          <div class="panel-footer">
            <span class="pull-left">View Attendance Report</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
