<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">Your Teams</h1>
  </div>
</div>

<% if @teams.any? %>
<ul class="nav nav-tabs">
  <% @teams.each_with_index do |team, index| %>
    <% tab_class = index == 0 ? 'active' : '' %>
    <li role="presentation" class=<%= tab_class %>><a data-toggle="tab" href="#team-<%= team.id %>"><%= team.name %></a></li>
  <% end %>
  <li role="presentation">
    <%= link_to new_team_path, remote: true do %>
      <i class="fa fa-plus"></i> Add Team</a>
    <% end %>
  </li>
</ul>
<% else %>
  <%= link_to new_team_path, remote: true, class: 'btn btn-primary' do %>
    <i class="fa fa-plus"></i> Add Team</a>
<% end %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2" id="team-form" style="display:none;"></div>
  </div>
<% end %>

<div class="tab-content">
  <% @teams.each_with_index do |team, index| %>
    <% tab_class = index == 0 ? 'in active' : '' %>
    <div id="team-<%= team.id %>" class="tab-pane fade <%= tab_class %>">
      <%= render partial: 'team_profile', locals: { team: team } %>
      <hr>
      <% active_divers = team.divers.active
        .includes(:dives)
        .joins(:diver_practices)
        .select("divers.*, sum(case when diver_practices.was_present then 1 else 0 end) as attended_practices_count")
        .group("divers.id").order(:name)
      %>
      <% inactive_divers = team.divers.inactive
        .includes(:dives)
        .joins(:diver_practices)
        .select("divers.*, sum(case when diver_practices.was_present then 1 else 0 end) as attended_practices_count")
        .group("divers.id").order(:name)
      %>
      <%= render partial: 'diver_cards', locals: { active_divers: active_divers, inactive_divers: inactive_divers } %>
    </div>
  <% end %>
</div>
