<div class="container-fluid visible-sm">
  <% @divers.each do |diver| %>
    <p class="huge"><u><%= diver.name %></u></p>
    <% diver.goals.group_by {|g| g.dive.height }.each do |height, goals| %>
      <p class="huge">
        <%= height %>M: <%= goals.map(&:dive).map(&:number).join(', ') %>
      </p>
    <% end %>
  <% end %>
</div>

<div class="container-fluid">
  <div class="row">
    <% @divers.each do |diver| %>
      <div class="col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title"><%= diver.name %></h3>
          </div>
          <div class="panel-body">
            <h3>#Goals</h3>
          </div>
          <ul class="list-group">
            <% diver.goals.each do |goal| %>
              <li class="list-group-item"><%= goal.display_description %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
