<div class="visible-md visible-lg panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% @divers.each do |diver| %>
    <div class="panel panel-success">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= diver.id %>" aria-expanded="true" aria-controls="collapseOne">
            <%= diver.name %>
          </a>
        </h4>
      </div>
      <div id="collapse-<%= diver.id %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <%= render 'divers/goals', diver: diver %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="visible-sm">
  <% @divers.each do |diver| %>
    <p class="huge"><u><%= diver.name %></u></p>
    <%= render 'divers/goals', diver: diver %>
  <% end %>
</div>

<div class="row hide">
  <% @divers.each do |diver| %>
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title"><%= diver.name %></h3>
        </div>
        <div class="panel-body">
          <h3>#Goals</h3>
        </div>
        <ul class="list-group">
          <% diver.goals.each do |goal| %>
            <li class="list-group-item"><%= goal.display_description %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
