<div class="container-fluid">
<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header"><%= @team.name %> Attendance</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" style='margin-bottom: 10px;' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Practice Dates <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= link_to('Today', team_attendance_path(@team, date_range: 'day')) %>
        </li>
        <li>
          <%= link_to('This Week', team_attendance_path(@team, date_range: 'week')) %>
        </li>
        <li>
          <%= link_to('This Month', team_attendance_path(@team, date_range: 'month')) %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= render 'table' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-6">
      <%= form_tag(add_practices_team_practices_path(@team), class: 'form-inline') do %>
        <div class="form-group">
          <%= select_tag(:practice_days, options_for_select([['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6], ['Sunday', 0]]), multiple: true, class: 'form-control js-day-select') %>
        </div>
        <%= submit_tag "Add #{Date.today.strftime('%B')} Practices", class: 'btn btn-primary' %>
      <% end %>
    </div>
    <% if @current_coach.google_drive_data.present? %>
      <div class="col-xs-6 text-right">
        <%= link_to("Export #{Date.today.strftime('%B')} Practices", export_practices_team_practices_path(@team), method: :post, class: 'btn btn-primary') %>
      </div>
    <% end %>
  </div>
</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('.js-day-select').select2({
    placeholder: "Choose Practice Days",
    allowClear: true,
    width: '100%'
  });
});
</script>
