<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="page-header"><%= @team.name %> Attendance</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" style='margin-bottom: 10px;' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= params[:date_range].present? ? params[:date_range].titleize : 'Today' %> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to('Today', team_attendance_path(@team, date_range: 'today')) %>
          </li>
          <li>
            <%= link_to('This Week', team_attendance_path(@team, date_range: 'this_week')) %>
          </li>
          <li>
            <%= link_to('This Month', team_attendance_path(@team, date_range: 'this_month')) %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- NOTE: This is to make it easier on iPhone, find better solution! -->
    <% if @practices.any? %>
      <% table_width = params[:date_range] == 'this_month' ? 'col-xs-12' : 'col-xs-5' %>
      <div class="<%= table_width %>">
        <%= render 'table' %>
      </div>
    <% else %>
      <% date_range = params[:date_range].blank? ? 'Today' : params[:date_range].titleize %>
      <div class='col-xs-6'>
        <p class="text-muted">You have no practices for <%= date_range %>. Add practices using the button below!</p>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#practices-modal">
        Add Practices
      </button>

      <% if @current_coach.google_drive_data.present? %>
        <%= link_to("Export #{Date.today.strftime('%B')} Practices", export_practices_team_practices_path(@team), method: :post, class: 'btn btn-success', data: { disable_with: 'Loading...' }) %>
      <% end %>

      <div class="modal fade" id="practices-modal" role="dialog" aria-labelledby="practices-modal-label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="practices-modal-label">Add <%= @team.name %> Practices</h4>
            </div>
            <!-- TODO: add validation to prevent submitting both -->
            <%= form_tag(add_practices_team_practices_path(@team), class: 'form-horizontal') do %>
              <div class="modal-body">
                <h4 class="text-center">Add Multiple Practices</h4>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="practice_days">Days</label>
                  <div class="col-sm-10">
                    <%= select_tag(:practice_days, options_for_select([['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6], ['Sunday', 0]]), multiple: true, class: 'form-control js-day-select') %>
                  </div>
                </div>
                <div class="text-center text-muted huge">
                  OR
                </div>
                <h4 class="text-center">Add a Single Practice</h4>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="date">Date</label>
                  <div class="col-sm-10">
                    <%= date_field_tag :date, Date.today, { class: 'form-control' } %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <label>
                      <%= check_box_tag :is_makeup, nil, true %> Makeup Practice?
                    </label>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <%= submit_tag "Add Practices", class: 'btn btn-primary', data: { disable_with: 'Loading...' } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="minutes-late-modal" tabindex="-1" role="dialog" aria-labelledby="minutes-late-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="minutes-late-modal-label">How many minutes late?</h4>
      </div>
      <div class="modal-body">
        <%= form_tag diver_practices_set_minutes_late_path, class: 'form form-inline' do %>
          <%= number_field_tag :minutes_late, nil, { autofocus: true, class: 'form-control' } %>
          <%= hidden_field_tag "diver_id", nil %>
          <%= hidden_field_tag "id", nil %>
          <%= submit_tag 'Save', class: 'btn btn-primary' %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="late-excuse-modal" tabindex="-1" role="dialog" aria-labelledby="late-excuse-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="late-excuse-modal-label">Excused Absence?</h4>
      </div>
      <div class="modal-body">
        <%= form_tag diver_practices_set_excuse_path do %>
            <div class="form-group">
              <div class="field">
                <%= label_tag :excuse %>
                <%= text_field_tag :excuse, nil, { autofocus: true, class: 'form-control' } %>
              </div>
            </div>

            <div class="form-group">
              <div class="field">
                <%= label_tag :excused_absence, 'Excusable Absence?' %>
                <%= check_box_tag :excused_absence, nil, false %>
              </div>
            </div>

            <%= hidden_field_tag "diver_id", nil %>
            <%= hidden_field_tag "id", nil %>

            <div class="actions">
              <%= submit_tag 'Save', class: 'btn btn-primary' %>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('.js-day-select').select2({
    placeholder: "Choose Practice Days",
    allowClear: true,
    width: '100%'
  });

  $('#minutes-late-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    // Extract info from data-* attributes
    var diver = button.data('diver-name');
    var diverId = button.data('diver-id');
    var diverPracticeId = button.data('diver-practice-id');
    var minutesLate = button.data('minutes-late');
    var excusedAbsence = button.data('excused-absence');
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    var modal = $(this);
    modal.find('.modal-title').text('How many minutes late was ' + diver + '?');
    modal.find('#minutes_late').val(minutesLate);
    modal.find('#diver_id').val(diverId);
    modal.find('#excused_absence').val(excusedAbsence);
    modal.find('#id').val(diverPracticeId);
  })

  $('#late-excuse-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
    // Extract info from data-* attributes
    var diver = button.data('diver-name');
    var diverId = button.data('diver-id');
    var diverPracticeId = button.data('diver-practice-id');
    var excuse = button.data('excuse');
    var isExcused = button.data('excused-absence');
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    var modal = $(this);
    modal.find('.modal-title').text('Does ' + diver + ' have an excused absence?');
    modal.find('#excuse').val(excuse);
    modal.find('#excused_absence').prop('checked', isExcused);
    modal.find('#diver_id').val(diverId);
    modal.find('#id').val(diverPracticeId);
  })
});
</script>
