<!DOCTYPE html>
<html>
  <head>
    <title>DiveSquad</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if @current_coach.present? %>
      <div id='wrapper'>
        <%= render 'layouts/header' %>
        <div id="page-wrapper" style="min-height: 319px;">
          <%= render 'layouts/messages' %>
          <%= yield %>
          <%= debug(params) if Rails.env.development? %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
